.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  height: 69px;

  /* M3/read-only/light/surface2 */

  background: linear-gradient(
      0deg,
      rgba(0, 107, 92, 0.08),
      rgba(0, 107, 92, 0.08)
    ),
    #fafdfa;
}

.navigationItem {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #7c968f;
  padding: 0;

  &_active {
    color: #006b5c;
    fill: #006b5c !important;
  }
  &__label {
    margin: 0;
    padding-top: 6 px;
  }
}
