@import "../../common.scss";

.bike {
  @extend .content;
  list-style: none;
  padding: 0 8px;
  height: 42px;
  min-width: 240px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}