@import "../../../common.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;

  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);

}

.modal {
  background: #ffffff;
  position: fixed;
  width: min(100%,450px);
  z-index: 100;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.modalContent {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.title {
  padding:24px 0;
}

.modalContent p {
  margin: 0 24px;
  text-align: center;
}


.closeButton {
  position: absolute;
  top: 20px;
  right: -4px

}
