@import "../../../common.scss";

.button {
  color: $text-color-light;
  background: $primary-color;
  border-radius: 100px;
  padding: 3px 16px 1px;
  height: 30px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  &_secondary {
    background-color: $secondary-color;
    color: $primary-color;
  }
  &_big {
    box-sizing: border-box;
    letter-spacing: 0.1px;
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    height: 40px;
    min-width: 112px;
  }
}

.icon {
  margin: 0 6px 2px -6px;
}
