@import "./../common.scss";

.container {
  background: $white;
  border-radius: 0 0 48px 48px;
  margin-bottom: 42px;
  position: relative;
  top: -48px;
  padding: 72px 0 48px;
  min-height: calc(100vh - 375px);
  z-index: 0;
}
.actions {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
