@import "./../common.scss";

.formContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 24px;
  background-color: $white;
  height: calc(100vh - 72px);
}

.content {
  @extend .content;
  text-align: center;

}
