@import "./../common.scss";

.buttonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 132px;
}

.formContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}

.content {
  @extend .content;
  text-align: center;

}