@import "../../../common.scss";

.stats {
  margin: 24px 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.statItem {
  flex: 50%;
}

.statsLabel {
  @extend .label_gray;
  padding-bottom: 6px;
}

.statsValue {
  @extend .content;
}

.statsDescription {
  position: relative;
  top: -20px;
}