@import "../../../common.scss";

.stats {
  margin: 24px 48px 0;
}

.statItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.statsLabel {
  padding-bottom: 6px;
}

.statsValue {
  @extend .content;
  text-align: right;
}
