@import "/src/common.scss";

.header {
  margin: 0 0 16px 0;
  padding: 4rem 0 0 2rem;
  font-weight: 900;
  height: 120px;
  font-size: 32px;
  color: $text-color-light;
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
  height: 120px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 1rem;
}
