@import "../../../common.scss";

.button {
  @extend .label;

  color: $black;
  background: $yellow;
  border-radius: 100px;
  padding: 0 16px;
  height: 30px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));

  &:hover {
    background: #FFF46F;
    color: $dark-gray;
  }

  &:active {
    color: $black;
    background: $yellow;
    filter: none;
  }

  &_big {
    margin: 24px;
    text-transform: none;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    width: calc(100% - 48px);
    height: 56px;
    background: $yellow;
  }

  &_secondary {
    background: none;
    text-decoration: underline;
    filter: none;

    &:hover, :active {
      background: none;
    }
  }

  &_disabled {
    background: rgba(31, 31, 31, 0.12);
    color: #636363;
    cursor: not-allowed;
    &:hover, :active {
      background: rgba(31, 31, 31, 0.12);
      color: #636363;
    }
  }

  &_error {
    background: #BA1B1B;
    color: white;
  }

  &_fab {
    @extend .button_big;
    border-radius: 16px;
    text-transform: none;
    gap: 6px;
    z-index: 9;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15),
    0 1px 3px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 78px;
    right: calc(50vw - 200px);
  }

  &_icon {
    background: none;
    filter: none;

    &:hover, :active {
      background: none;
    }
  }
}


.icon {
  width: 16px;
  height: 16px;
  margin: 0 6px 0 -6px;
  color: inherit;
}
