$primary-color: #006b5c;
$secondary-color: #cde9e1;
$background-color: #ffffff;
$outline-color: #6f7976;
$secondary-background: linear-gradient(
    0deg,
    rgba(0, 107, 92, 0.08),
    rgba(0, 107, 92, 0.08)
  ),
  #fafdfa;
$text-color: #000000;
$text-color-light: #ffffff;

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 2px 0;
  /* or 150% */

  letter-spacing: 0.1px;
}

.label {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;

  color: $text-color;
  &_green {
    @extend .label;
    font-weight: 500;
    color: $primary-color;
  }

  &_small {
    @extend .label;
    font-size: 10px;
    line-height: 14px;
    color: #4a635e;
  }
  &_medium {
    @extend .label;
    text-transform: none;
    color: $outline-color;
  }
}

.value {
  margin: 4px 0 16px 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.content {
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
  &_medium {
    @extend .content;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
}
