$primary-color: #006b5c;
$secondary-color: #cde9e1;
$background-color: #ffffff;
$secondary-background: linear-gradient(
    0deg,
    rgba(0, 107, 92, 0.08),
    rgba(0, 107, 92, 0.08)
  ),
  #fafdfa;
$text-color: #000000;
$text-color-light: #ffffff;

h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 2px 0;
  /* or 150% */

  letter-spacing: 0.1px;
}

.label {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;

  color: $text-color;
  &_green {
    @extend .label;
    font-weight: 500;
    color: $primary-color;
  }
}
