h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.1px;
}

.label {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  color: #000000;
  &_green {
    font-weight: 500;
    color: #006b5c;
  }
}
