@import "/src/common.scss";

.header {
  margin: 0;
  height: 250px;
  color: $text-color-light;
  position: relative;
  z-index: 2;
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
  height: 208px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 1rem;
}

.title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  text-align: left;
}

.titleLabel {
  @extend .label;
  color: $black;
}

.description {
 @extend .content;
}
.container {
  display:flex;
}
.wrapper {
  position: absolute;
  top: 136px;
  padding: 16px 24px 24px;
  width: 100%;
  height: 132px;
  background: $yellow;
  border-radius: 48px;
    color: $black;


}
