@import "/src/common.scss";

.header {
  margin: 0;
  height: 250px;
  color: $text-color-light;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 1rem;
}

.title {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.titleLabel {
  @extend .label;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: $text-color-light;
}

.description {
  margin: 0;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: $text-color-light;
}

.wrapper {
  position: absolute;
  bottom: 0px;
  padding: 0 16px 28px;
}
